* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}
@mixin flex-orientation($display, $flex-direction) {
    display: $display;
    flex-direction: $flex-direction;
}
body {
    background: url("../assets/images/fondo1.jpg")top/cover no-repeat fixed;
    text-align: center;
}

hr {
    background-color: #bf9b4db4;
    border-bottom: none;
    height: 4px;
    margin: 1em 0 3em 3em;
}
input[value="+"],
input[value="-"] {
    background-color: rgba(85, 75, 75, 0.39);
    border-radius: 0.2em;
    border-style: none;
    outline: none;
    width:40px;
    height:33px;
}
